fastapi
ipykernel
matplotlib
numpy
opencv-contrib-python
opencv-python
paddlepaddle
paddleocr
pandas
pillow
python-multipart
qrcode
ultralytics==8.3.75
uvicorn==0.24.0
websockets==11.0.3
torch==2.6.0
torchvision==0.21.0